<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>基本資料更新</title>
    <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script>
        function initializeApp(data) {  //初始化LIFF
            alert('initalizeapp');
            var userid = data.context.userId;  //取得ID
        }
    
        function pushMsg(username, birthday, email, address, phonenum, tex, uniformnum) {
            if (username == '' || birthday == '' || address == '' || email == '' || phonenum == '') {  //資料檢查
                alert('至少要輸入姓名 生日 電子信箱 電話 地址!!!');
                return;
            }
            
            var msg = "[UpdateUserInfo]{name:" + username + ",Birth:" + birthday + ",email:" + email + ",addr:" + address + ",phone:" + phonenum + ",einvoice:" + tex + ",GUI:" + uniformnum + "}";  //回傳訊息字串
                
            liff.sendMessages([  //推播訊息
                    { type: 'text',
                    text: msg
                    }
                ]).then(() => {
                        liff.closeWindow();  //關閉視窗
                    });
            }

    
        $(document).ready(function () {
            console.log('document ready');
            liff.init({
                liffId: '1657480937-XvW4LEMa'
            }).then(() => {
                console.log('liff inital done');
            });
            
            $('#sure').click(function (e) {  //按下確定鈕
                pushMsg($('#username').val(), $('#birthday').val(), $('#email').val(), $('#address').val(), $('#phonenum').val(), $('#tex').val(), $('#uniformnum').val());
            });
        });
    </script>
</head>
<body>
    <div class="row" style="margin: 10px">
        <div class="col-12" style="margin: 10px">
            <label>姓名</label>
            <input type="text" id="username" class="form-control" />
            <br />
            <label>生日</label>
            <input type="date" id="birthday" value="" class="form-control" />
            <br />
            <label>電子信箱</label>
            <input type="text" id="email" class="form-control" />
            <br />
            <label>手機號碼</label>
            <input type="tel" id="phonenum" class="form-control" />
            <br />
            <label>地址</label>
            <input type="text" id="address" class="form-control" />
            <br />
            <label>發票載具</label>
            <input type="text" id="tex" value="" class="form-control" />
            <br />
            <label>統編</label>
            <input type="text" id="uniformnum" value="" class="form-control" />
            <br />
            
            <button class="btn btn-warning btn-block" id="sure">確定</button>
        </div>
    </div>
</body>
</html>